:root {
    --Color1: hsl(34,85%,95%);
    --Color2: hsl(183,59%,43%);
    --Color3: hsl(339,93%,72%);
	--Color4: hsl(0, 0%, 25%);
}
a:hover {
    color: var(--Color2Lighter);
}
body {
    font-family: 'Playfair Display', serif;
	

    
}
.main-color {
    background-color: var(--Color4);
    font-family: 'Ranga', cursive;
    color: var(--Color2Lighter);
	text-align: center;
	margin: 0;
	border: 15px;
    padding: 15px;
	
	
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.fixed {
    position: inherit;
    margin-bottom: 0;
}
.jumbotroncolor1 {
    background-color: var(--Color2);
    margin-bottom: 0;
    font-family: 'Ranga';

    border: 15px;
    padding: 15px;
    margin: 0;
    text-align: center;
}
.jumbotroncolor2 {
    background-color: var(--Color4);
    font-family: 'Sedgwick Ave';
    color: var(--Color1);
    border: 15px;
	padding: 15px;
	height: 400px;
	text-align: center;
    margin-bottom: 0;
}
.textspace {
    padding: 25px;
}
.beforefooter {
    margin-bottom: 55px;
}
.nav-link {
    color: var(--Color4);
}
.nav-link.hover {
    color: var(--Color4);
}
.button-icon {
    color: var(--Color4);
    font-size: 2em;

}

.button1{
    background-color: var(--Color1);
    color: var(--Color4);
    border-color: var(--Color2);
    font-size: 2em;
    position: relative;

}
.button2{
    background-color: var(--Color3);
    color: var(--Color2;
    border-color: var(--Color4);
    font-size: 2em;
    position: relative;
  
}

.btn-primary:hover {
  color: var(--Color2);
  background-color: var(--Color1);
  border-color: var(--Color3);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: baseline;
  background-size: 100% 100%;
}